/.build_cache
/build
/deps
/dist
/assets
/feffery_utils_components/*.js
/feffery_utils_components/*.txt
/feffery_utils_components/*.json
/feffery_utils_components.egg-info
/feffery_utils_components/__pycache__
/inst
/man
/node_modules
/R
/src/demo
/src/jl
/src/*.jl
/.vscode
package-lock.json